.accordion {
  width: 100%;
  margin: -1px 0 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid rgba(28, 51, 116, 0.2);
}

.accordion__element {
  width: 100%;
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);
}

.accordion__button-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  padding: 23px 0;
}

.accordion__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.accordion__content {
  width: 100%;
}

.accordion__description {
  max-width: 660px;
  padding: 19px 0 22px;
  line-height: 24px;
  letter-spacing: 0.73px;
}

.accordion__description p {
  margin: 0;
}

.accordion__description p + p {
  margin-top: 20px;
}

.accordion__button {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  color: $color-main-light2;
  background-color: $color-default-white;
  border: 1px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
}

.accordion__button::before,
.accordion__button::after {
  position: absolute;
  content: "";
  right: 9px;
  top: 18px;
  width: 20px;
  height: 2px;
  background-color: currentColor;
}

.accordion__button::after {
  transform: rotate(90deg);
}

@include vp-1365 {
  .accordion {
    margin: 0;
  }

  .accordion__button-wrapper {
    padding: 23px 0;
  }

  .accordion__title {
    font-size: 22px;
    line-height: 22px;
  }

  .accordion__description {
    padding: 10px 0 22px;
  }

  .accordion__element.is-active .accordion__button-wrapper {
    padding-bottom: 0;
  }
}

@include vp-767 {
  .accordion {
    padding: 41px 0 38px;
  }

  .accordion__button-wrapper {
    padding: 20px 0 21px;
  }

  .accordion-item:not(:first-of-type) .accordion__title {
    width: 216px;
  }

  .accordion-item:not(:first-of-type) .accordion__button-wrapper {
    padding-bottom: 20px;
  }

  .accordion-item:last-of-type {
    margin: -2px 0 0;
  }

  .accordion-item:last-of-type .accordion__title {
    width: 231px;
  }

  .accordion__title {
    font-size: 20px;
    line-height: 20px;
    width: 163px;
  }

  .accordion__description {
    max-width: 290px;
    line-height: 20px;
    padding: 21px 0 19px;
  }

  .accordion__button {
    width: 30px;
    height: 30px;
    margin: 0;
  }

  .accordion__button::before,
  .accordion__button::after {
    right: 7px;
    top: 13px;
    width: 14px;
    height: 2px;
  }
}

.accordion__button:hover,
.accordion__button:focus,
.accordion__button:focus-visible {
  color: $color-default-white;
  background-color: $color-main-light2;
}

.accordion__button:active {
  opacity: 0.5;
}

.accordion__button:disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}

.accordion__element.is-active .accordion__button-wrapper {
  padding-bottom: 4px;
}

.accordion__element.is-active .accordion__button {
  color: $color-default-white;
  border: 1px solid $color-main-lignt;
  background-color: $color-main-light2;
}

.accordion__element.is-active .accordion__button::after {
  display: none;
}

.accordion__title br,
.accordion__description p br {
  display: none;
}

@include vp-1365 {
  .accordion__title br {
    display: block;
  }
}

@include vp-767 {
  .accordion__title br,
  .accordion__description p br {
    display: block;
  }
}
