.card__title {
  margin: 0 0 15px;
  font-family: $font-roboto-bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.15px;
  text-align: center;

  @include vp-1365 {
    margin: 0 0 22px;
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    margin: 0 0 17px;
    font-size: 22px;
    line-height: 24px;
  }
}

.card__description {
  margin: 0 0 90px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  @include vp-1365 {
    margin: 0 0 94px;
  }

  @include vp-767 {
    margin: 0 0 75px;
    font-size: 14px;
    line-height: 22px;
  }
}

.card__price-wrapper {
  position: relative;
  padding: 0;
  margin: 0 0 29px;

  @include vp-1365 {
    margin: 0 0 35px;
  }

  @include vp-767 {
    margin: 0 0 27px;
  }
}

.card__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  font-family: $font-roboto-bold;
  font-size: 62px;
  font-weight: 600;
  line-height: 64px;
  color: $color-main-lignt;
  gap: 17px;

  @include vp-1365 {
    gap: 18px;
  }

  @include vp-767 {
    gap: 12px;
  }

  .card__price-count {
    font-family: $font-roboto-bold;
    letter-spacing: -1.75px;
    margin: 1px 0 0 0;

    @include vp-1365 {
      letter-spacing: -1.55px;
      margin: 1px 0 0 2px;
    }

    @include vp-767 {
      font-size: 48px;
      letter-spacing: 0.1px;
    }
  }

  .card__price-rub {
    display: block;
    width: 30px;
  }

  @include vp-767 {
    font-size: 48px;
    line-height: 48px;

    .card__price-rub {
      margin: 4px 0 0 0;
      width: 24px;

      svg {

        width: 100%;
      }
    }
  }
}

.card__shadow {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 1.25px;
  color: #e8e8e8;
  opacity: 0.48;

  @include vp-1365 {
    bottom: 11px;
  }

  @include vp-767 {
    font-size: 80px;
    line-height: 80px;
    bottom: 11px;
  }
}

.card__button {
  display: block;
  width: 230px;
  margin: 0 auto;
  padding: 27px 20px 26px;
  user-select: none;

  @include vp-1365 {
    max-width: 300px;
    width: 250px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 206px;
  }
}
