.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1160px;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @include vp-1365 {
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 442px;
  }

  @include vp-767 {
    gap: 35px;
    max-width: 290px;
  }
}

.card-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 57px 20px 60px;
  text-align: center;
  background-color: $color-default-white;
  border: 7px solid transparent;
  width: 100%;

  @include vp-1365 {
    padding: 56px 20px 60px;
  }

  @include vp-767 {
    padding: 42px 20px 43px;
  }

  &:hover,
  &:focus-within {
    padding: 56px 20px 60px;
    border: 7px solid;
    border-image: linear-gradient(97deg, rgba(237, 2, 51, 1) 17.6%, rgba(0, 62, 183, 1) 95.31%);
    border-image-slice: 1;

    @include vp-767 {
      padding: 42px 20px 43px;
    }
  }
}
