.contacts {
  padding: 59px 0 59px 103px;

  @include vp-1365 {
    padding: 106px 120px 59px;
  }

  @include vp-767 {
    padding: 117px 0 68px;
  }
}

.contacts__title {
  margin-bottom: 36px;

  @include vp-1365 {
    // letter-spacing: 2.8px;
    font-size: 54px;
    // letter-spacing: 2.4px;
    text-align: center;
    margin: 0 auto 42px;
  }

  @include vp-767 {
    letter-spacing: 1.55px;
    margin: 0 0 36px;
  }
}

.contacts__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 71px;
  max-width: 437px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 197px;
    transform: translateX(-50%);
    width: 1px;
    height: 117px;
    background-color: #74819c;
  }

  @include vp-1365 {
    column-gap: 62px;

    &::before {
      left: 50%;
      height: 117px;
    }
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;

    &::before {
      display: none;
    }
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:nth-child(2n) {
    padding-left: 44px;

    .contacts-card:first-child .contacts-card__title {
      margin: 0 0 4px 0;
    }

    .contacts-card:last-child .contacts-card__title {
      margin: 0 0 4px 0;
    }
  }

  @include vp-1365 {
    max-width: 218px;

    &:nth-child(2n) {
      padding-left: 0;
    }
  }

  @include vp-767 {
    &:nth-child(2n) {
      padding-left: 0;
      margin-top: 25px;
    }
  }
}
