.discounts {
  padding: 100px 0 120px;

  @include vp-1365 {
    padding: 101px 0 100px;
  }

  @include vp-767 {
    padding: 71px 0 70px;
  }
}

.discounts__title {
  margin-bottom: 70px;
  text-align: center;

  @include vp-1365 {
    margin-bottom: 39px;
    letter-spacing: 1.65px;
  }

  @include vp-767 {
    margin: 0 auto 41px;
    letter-spacing: 1.75px;
  }
}

.discounts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1365 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: 290px;
    gap: 0;
  }
}
