.faq {
  padding: 100px 0 98px;
  background-color: #f8f9fc;

  @include vp-1365 {
    padding: 61px 0 59px;
  }

  @include vp-767 {
    padding: 71px 0 69px;
  }
}

.faq__title {
  margin-bottom: 50px;

  @include vp-1365 {
    letter-spacing: 0.05px;
    text-align: center;
    margin-bottom: 44px;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }
}

.faq__wrapper-content {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;

  @include vp-1365 {
    gap: 45px;
  }

  @include vp-767 {
    row-gap: 35px;
    column-gap: 0;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1365 {
    width: 678px;
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  @include vp-767 {
    width: 290px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
}

.faq__item {
  @include vp-1365 {
    justify-self: stretch;
    width: 100%;
  }
}

.faq__wrapper {
  @include vp-1365 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.faq__button {
  max-width: none;
  padding: 21px 20px 16px;
  font-family: $font-roboto;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  text-transform: none;
  letter-spacing: 0.15px;
  box-shadow: 0 0 0 2px rgba($color-main, 0.2) inset;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-main;
    background: none;
    box-shadow: 0 0 0 2px $color-main inset;
  }

  @include vp-1365 {
    width: 100%;
    padding: 19px 20px 18px;
    letter-spacing: 0;
  }

  @include vp-767 {
    padding: 14px 20px;
    font-size: 16px;
    line-height: 18px;
  }
}

.faq__button.is-active {
  padding: 21px 20px 16px;
  color: $color-default-white;
  background-color: $color-main;
  background-image: $gradient;
  box-shadow: none;

  @include vp-1365 {
    padding: 19px 20px 18px;
    letter-spacing: 0;
  }

  @include vp-767 {
    padding: 14px 20px;
    letter-spacing: 0;
  }
}
