.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  justify-content: center;
  width: fit-content;
  margin: 0 auto 35px;
  padding: 0;
  list-style-type: none;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1365 {
    gap: 20px 55px;
    margin-bottom: 43px;
  }

  @include vp-767 {
    gap: 20px 45px;
    margin-bottom: 34px;
  }
}

.filter-list__link {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 0 -2px;
  padding: 10px 0;
  font-family: $font-roboto;
  font-size: 20px;
  line-height: 20px;
  color: rgba(16, 38, 84, 0.5);
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  user-select: none;

  @include vp-1365 {
    padding: 15px 0;

    font-size: 18px;
    line-height: 21px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
  }

  &:hover {
    color: $color-main;
    border-bottom-color: $color-main-contrast;
  }

  &:focus,
  &:focus-visible {
    color: $color-main;
    border-bottom-color: $color-main-contrast;
    outline: none;
  }

  &:active {
    color: $color-main;
    border-bottom-color: $color-main-contrast;
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.3);
    border-bottom-color: rgba(16, 38, 84, 0.3);
    pointer-events: none;
  }
}

.filter-list__link.is-active {
  color: $color-main;
  border-bottom-color: $color-main-contrast;
}

@include vp-1365 {
  .filter-list {
    flex-direction: row;
    justify-content: space-between;
    width: 333px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 0;

    &::before {
      left: 0;
      width: 332px;
    }
  }

  .filter-list__link {
    padding: 0 0 9px;
    font-size: 18px;

    &:first-of-type {
      margin: 0;
    }
  }
}

@include vp-767 {
  .filter-list {
    width: 290px;
    margin-top: 20px;

    &::before {
      top: 33px;
      width: 290px;
    }
  }

  .filter-list__link {
    padding-bottom: 12px;
    font-size: 16px;
  }
}
