.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto 40px;
  padding: 0;
  list-style-type: none;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1365 {
    flex-direction: row;
    justify-content: space-between;
    width: 310px;
    margin: 36px auto 45px;
    padding: 0;

    &::before {
      left: 0;
      width: 332px;
    }
  }

  @include vp-767 {
    width: 290px;
    margin: 20px auto 30px;
    padding: 0 0 2px;

    &::before {
      top: 33px;
      width: 290px;
    }
  }
}

.filter-list__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 10px 0 6px;
  font-family: $font-roboto;
  font-size: 20px;
  line-height: 20px;
  color: rgba(16, 38, 84, 0.5);
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  user-select: none;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    color: $color-main;
    border-bottom-color: $color-main-contrast;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.3);
    border-bottom-color: rgba(16, 38, 84, 0.3);
    pointer-events: none;
  }

  @include vp-1365 {
    padding: 0 0 4px;
    font-size: 18px;
    line-height: 18px;

    &:first-of-type {
      margin: 0;
    }
  }

  @include vp-767 {
    padding-bottom: 2px;
    font-size: 16px;
    line-height: 16px;
  }
}

.filter-list__link.is-active {
  position: relative;
  color: $color-main;

  &::before {
    position: absolute;
    content: "";
    display: block;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-main-contrast;
    z-index: 10;
  }

  @include vp-1365 {
    &::before {
      bottom: -5px;
    }
  }
}
