.footer {
  padding: 41px 0 37px;
  color: $color-default-white;
  background-color: #030a1a;

  @include vp-1365 {
    padding: 45px 0 42px;
  }

  @include vp-767 {
    padding: 28px 0 45px;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 143px 1fr 110px;
  gap: 154px;

  @include vp-1365 {
    gap: 25px;
    grid-template-columns: 100px 1fr 100px;
  }
}

.footer__logo {
  display: block;
  width: 130px;
  height: 28px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:focus-visible {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }

  @include vp-1365 {
    width: 98px;
    height: 26px;
  }

  @include vp-767 {
    margin-right: auto;
    width: 89px;
    height: 19px;
    grid-column: 1/4;
    grid-row: 1/2;
  }
}
