.free {
  padding: 59px 103px 59px 0;
  color: $color-default-white;
  background-color: $color-main;

  @include vp-1365 {
    padding: 65px 119px 20px 119px;
  }

  @include vp-767 {
    padding: 70px 0 20px;
  }
}

[data-lastpass-icon-root] {
  display: none;
}

.free__title {
  // letter-spacing: 2.9px;
  margin-bottom: 30px;

  @include vp-1365 {
    font-size: 54px;
    // letter-spacing: 2.4px;
    text-align: center;
    margin: 0 auto 27px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 1.25px;
    margin-bottom: 30px;
  }
}

.free__wrapper {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 30px;
    color: $color-default-white;
    background-color: $color-main;

    @include vp-1365 {
      gap: 35px 30px;
    }

    @include vp-767 {
      gap: 0 60px;
    }
  }
}

.free__button {
  grid-column: 1 / -1;
  max-width: none;
  padding: 28px 20px 25px 20px;

  @include vp-767 {
    margin-top: 16px;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
