.hero {
  padding-bottom: 120px;
  color: $color-default-white;
  margin: 0 auto;

  @include vp-1365 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.hero__wrapper {
  width: 941px;
  margin: 28px 0 0 147px;
  display: grid;
  grid-template-columns: 385px auto;
  gap: 56px;

  @include vp-1365 {
    grid-template-columns: repeat(2, 1fr);
    gap: 29px;
  }

  @include vp-767 {
    display: block;
  }
}

.hero__content {
  display: grid;
  grid-template-columns: 114px 1fr;
  gap: 40px 21px;
  align-content: start;
  padding-top: 52px;

  @include vp-1365 {
    gap: 8px 15px;
    padding-top: 33px;
  }

  @include vp-767 {
    gap: 14px 0;
    padding-top: 26px;
  }
}

.hero span {
  grid-column: 1/-1;
  order: -1;
  // margin-right: 3px;
  font-family: $font-alumni-semibold;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  text-align: right;
  // text-transform: uppercase;
  // letter-spacing: 2.6px;

  @include vp-1365 {
    margin-right: 0;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 2.25px;
  }

  @include vp-767 {
    margin-right: 0;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.84px;
  }
}

.hero h1 {
  margin: 1px 0 0 0;
  font-family: $font-alumni-extrabold;
  font-size: 92px;
  font-weight: 800;
  line-height: 110px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 4px;
  // padding-right: 2px;

  @include vp-1365 {
    font-size: 68px;
    line-height: 86px;
    letter-spacing: 2.45px;
  }

  @include vp-767 {
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 3.8px;
  }
}

.hero__content ul {
  align-self: end;
  order: -1;
  margin: 0;
  padding: 52px 0 71px 0;
  font-family: $font-roboto;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  list-style: none;
  // letter-spacing: -0.05px;

  @include vp-1365 {
    padding: 24px 0;
  }

  @include vp-767 {
    margin-right: 0;
    padding: 2px 0;
    line-height: 20px;
  }
}

.hero__image {
  width: 500px;

  @include vp-1365 {
    width: 324px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__button {
  grid-column: 1/-1;
  max-width: 270px;
  margin: 0 0 0 auto;
  padding: 27px 20px 24px 20px;
  letter-spacing: -0.15px;

  @include vp-1365 {
    width: 186px;
    margin: 40px 0 0 auto;
  }

  @include vp-767 {
    width: 100%;
    max-width: 290px;
    margin: 46px 0 0 auto;
    padding: 21px 20px 22px;
  }
}
