.judges-card {
  position: relative;
  overflow: hidden;
  color: $color-default-white;

  &:hover {
    .judges-card__wrapper {
      transform: translateX(0);
      transition: 1s;
    }

    .judges-card__title {
      transform: translateX(100%);
    }
  }

  &:focus {
    .judges-card__wrapper {
      transform: translateX(0);
      transition: 1s;
    }

    .judges-card__title {
      transform: translateX(100%);
    }
  }
}

.judges-card__front {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: end;
}

.judges-card__image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: rgba(16, 38, 84, 1);

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.judges-card__title {
  z-index: 3;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: 0;
  padding: 25px 25px 25px 25px;
  font-size: 22px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  transition: 1s;
  font-family: $font-roboto-light;
  letter-spacing: 0.25px;

  @include vp-767 {
    padding: 25px 15px;
  }
}

.judges-card__list {
  overflow: auto;
  margin: 0;
  padding: 26px 0 26px 47px;
  font-size: 14px;
  line-height: 22px;
  list-style-type: disc;

  li + li {
    margin-top: 12px;
  }

  @include vp-1365 {
    padding: 5px 28px 26px 69px;
  }

  @include vp-767 {
    line-height: 16px;
    padding: 5px 25px 26px 69px;
  }
}

.judges-card__wrapper {
  position: absolute;
  z-index: 2;
  inset: 0;
  transform: translateX(-100%);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 7px;
  padding: 46px 20px 21px;
  background-color: rgba(16, 38, 84, 0.89);
  transition: 1s;

  @include vp-1365 {
    padding: 54px 0 21px;
    gap: 1px;
  }
}

.judges-card__name {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.judges-card__description {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #b6bdcc;
  text-align: center;

  @include vp-1365 {
    padding-bottom: 27px;
  }

  @include vp-767 {
    padding-bottom: 5px;
  }
}
