.judges {
  padding: 100px 0;

  @include vp-1365 {
    padding: 36px 0 60px;
  }

  @include vp-767 {
    padding: 36px 0 40px;
  }
}

.judges__title {
  margin: 0 auto 46px;
  padding: 0 0 0 1px;
  font-family: $font-alumni-semibold;
  font-weight: 600;
  letter-spacing: 0.25px;
  width: max-content;

  @include vp-1365 {
    margin: 0 auto 52px;
    font-size: 54px;
    text-align: center;
    letter-spacing: -0.5px;
  }

  @include vp-767 {
    margin: 0 auto 19px;
    font-size: 32px;

    // letter-spacing: -0.5px;
  }
}

.judges__slider {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 60px;

  @include vp-1365 {
    max-width: 680px;
  }

  @include vp-767 {
    max-width: 290px;
    padding: 0 15px;
  }
}

.slider__button--prev {
  left: -9px;
  top: 49%;

  svg {
    position: absolute;
    bottom: 19%;
    left: 28%;
  }

  @include vp-1365 {
    left: -10px;
    top: 50%;
  }

  @include vp-767 {
    display: none;
    left: -6px;

    svg {
      width: 10px;
      height: 19px;
    }
  }
}

.slider__button--next {
  right: -11px;
  top: 49%;

  svg {
    transform: rotate(180deg);
    position: absolute;
    bottom: 19%;
    left: 28%;
  }

  @include vp-1365 {
    right: -10px;
    top: 50%;
  }

  @include vp-767 {
    display: none;

    right: -6px;

    svg {
      width: 10px;
      height: 19px;
    }
  }
}

.judges__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-767 {
    max-height: 300px;
  }
}
