.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0 27px;
  margin: 0 auto;

  @include vp-1365 {
    padding: 30px 0 27px;
  }

  @include vp-767 {
    padding: 13px 0 24px;
  }
}

.main-nav__logo-link {
  display: block;
  width: 130px;
  height: 26px;
  padding: 0;
  user-select: none;

  svg {
    display: block;
    width: 100%;
  }

  @include vp-1365 {
    width: 110px;
    height: 23px;
  }

  @include vp-767 {
    width: 100px;
    height: 20px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:focus-visible {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-nav__tel {
  font-family: $font-roboto;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  line-height: 30px;
  color: $color-default-white;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  user-select: none;
  margin: 0;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin: 0 1px 0 0;
  }

  &:hover {
    color: $color-main-light2;
  }

  &:focus,
  &:focus-visible {
    color: $color-main-light2;
    outline: none;
  }

  &:active {
    color: $color-main;
    border-bottom-color: currentColor;
  }
}
