.reviews {
  padding: 100px 0 44px;

  @include vp-1365 {
    padding: 101px 0 20px;
  }

  @include vp-767 {
    padding: 71px 0 70px;
  }
}

.reviews__title {
  margin: 0 0 75px;
  text-align: center;

  @include vp-1365 {
    letter-spacing: 1.55px;
    margin: 0 0 41px;
  }

  @include vp-767 {
    margin: 0 0 45px;
  }
}

.reviews__slider {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px;

  .slider__button--prev {
    left: -61px;
    top: 41%;
  }

  .slider__button--next {
    right: -61px;
    top: 41%;
  }

  @include vp-1365 {
    .slider__button--prev {
      left: -17px;
      top: 38%;
    }

    .slider__button--next {
      right: -17px;
      top: 38%;
    }
  }

  @include vp-767 {
    .slider__button--prev {
      left: -5px;
      top: 50%;
    }

    .slider__button--next {
      right: -6px;
      top: 50%;
    }
  }
}

.reviews__wrapper {
  padding: 40px;
  max-width: 560px;


  @include vp-1365 {
    max-width: 580px;
  }

  @include vp-767 {
    max-width: 226px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
