.social-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  justify-self: end;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1365 {
    gap: 15px;
  }

  @include vp-767 {
    gap: 20px;
    margin: -2px 0 0;
    justify-self: start;
    grid-column: 1/4;
    grid-row: 3/4;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: #030a1a;
  background-color: $color-default-white;
  border-radius: 50%;
  fill: currentColor;
  user-select: none;

  &:hover {
    color: $color-default-white;
    background-color: $color-main-lignt;
  }

  &:focus,
  &:focus-visible {
    color: $color-default-white;
    background-color: $color-main-lignt;
  }

  &:active {
    color: $color-default-white;
    background-color: $color-main;
  }

  &:disabled {
    color: #030a1a;
    background-color: rgba(255, 255, 255, 0.3);
  }

  svg {
    width: 17px;
    height: 17px;
  }
}
