.subscription {
  position: relative;
  z-index: 1;
  overflow: unset;
  padding: 100px 0 100px;
  background-color: #f8f9fc;

  &::before {
    position: absolute;
    content: "";
    right: 0;
    bottom: -11%;
    width: 308px;
    height: 384px;
    background-image: url("../img/weight-plates.webp");
    background-repeat: no-repeat;
    background-position: left;
  }

  @include vp-1365 {
    padding: 61px 0 105px;

    &::before {
      right: 281px;
      bottom: -7.35%;
    }
  }

  @include vp-767 {
    padding: 40px 0 70px;

    &::before {
      display: none;
    }
  }
}

.subscription__title {
  margin-bottom: 10px;
  text-align: center;

  @include vp-1365 {
    letter-spacing: -0.1px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    line-height: 33px;
  }
}
