
// Viewports
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1366: 1366px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Gradient
$gradient: linear-gradient(151.36deg, #ed0233 16.62%, #003eb7 97.26%);
$gradient-hero: linear-gradient(90deg, #1c3477, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Color
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-main: #102654;
$color-main-contrast: #ed0233;
$color-main-lignt: #103aae;
$color-main-light2: #1c3374;
$color-neon-blue: #2c39f2;
$color-torch-red: #ff1553;

// Font
$ff-placeholder: "Roboto-Condensed-Regular", "Arial", sans-serif;
$font-roboto: "RobotoCondensed", "Arial", sans-serif;
$font-alumni: "AlumniSans", "Arial", sans-serif;
$font-alumni-extrabold: "AlumniSans-ExtraBold", "Arial", sans-serif;
$font-alumni-semibold: "AlumniSans-SemiBold", "Arial", sans-serif;
$fz-default: 16px;
$lh-default: 24px;

// Animation
$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;
